/*遮罩*/
#box {
	display: none;
	position: fixed;
	z-index: 9998;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}
/*登录框*/
#login {
	display: none;
	position: fixed;
	top: 65px;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
.wrap{
	width: 420px;
	background-color: #fff;
	margin: 0 auto;
}
.wrap .cha a{
	font-size: 40px;
	position: relative;
	left: 370px;
}
/*登录框文字*/
.top-text{
	width: 350px;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 28px;
}
.top-text .line{
	display: inline-block;
	width: 1px;
	height: 16px;
	margin: 0 36px;
	margin-bottom: -4px;
	border-right: 1px solid #e8e8e8;
}
.top-text span:first-child{
	color: #999;
}
.top-text span:first-child:hover{
	color: #B4A078;
	cursor: pointer;
}
.top-text span:last-child:hover{
	cursor: pointer;
}
.input-box {
	margin: 0 auto;
	width: 360px;
	color: #e8e8e8;
}
.input-box input{
	padding: 10px;
}
.form-user,
.form-lock {
	height: 28px;
	margin: 14px 0;
	padding: 8px;
	padding-bottom: 15px;
	position: relative;
	border: 1px solid #e8e8e8;
}
.form-user i,.form-lock i{
	font-size: 20px;
	color: #e8e8e8;
	padding-right: 8px;
}
.form-user > li:nth-child(1),
.form-lock > li:nth-child(1) {
	float: left;
	width: 28px;
	line-height: 36px;
	text-align: center;
	border-right: 1px solid #e8e8e8;
}
.form-user > li:nth-child(2),
.form-lock > li:nth-child(2) {
	width: 100%;
	line-height: 36px;
}
.form-user > li:nth-child(2) > input,
.form-lock > li:nth-child(2) > input {
	width: 80%;
	padding-left: 28px;
	border:none;
}
.form-user > li:nth-child(2) > input:focus + .close,
.form-lock > li:nth-child(2) > input:focus + .close {
	display: block;
}
.close {
	position: absolute;
	top: 1em; right: .5em;
	display: none;
}
/*登录按钮*/
.wrap .btn{
	display: block;
	width: 320px;
	height: 48px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	background: #b4a078;
	font-size: 18px;
	line-height: 48px;
	border-radius: 2px;
	margin: 40px auto;
	
}
/*快捷方式登录*/
.kjdl{
	width: 100%;
	height: 60px;
	background-color: #F5F3EF;
	line-height: 60px;
	color: #999;
}
.kjdl i:hover,.kjdl span:hover{
	cursor: pointer;
	color: #b4a078;
}
.kjdl span:first-of-type a{
	margin-left: 60px;
	padding-right: 10px;
	color: #999;
}
.kjdl .tubiao{
	margin-left: 30px;
	display: inline-block;
}
.kjdl i{
	color: #666;
	font-size: 24px;
	padding: 8px;
}
/*头部样式*/
header .login-box{
	background-color: #333;
	line-height: 36px;
}
header .login,header .login-wrapper{
	width: 1090px;
	margin: 0 auto;
}
.login-left{
	color: #cccccc;
	width: 400px;
	display: inline-block;
}
.login-left img{
	width: 24px;
	height: 22px;
	padding-left: 30px;
	vertical-align: middle;
}
.login-left a{
	color: #b4a078;
	text-decoration: underline;
}
.login a:hover{
	color: #fff;
	text-decoration: none;
}
.login-right{
	float: right;
	width: 460px;
}
.login-right .first-ul{
	display:flex;
	justify-content: space-between;
	position: relative;
	z-index: 999;
}
.login-right .first-ul > li:nth-child(1){
	margin-right: 10px;
}
.login-right .first-ul li:nth-child(1):before,
.login-right .first-ul li:nth-child(2):before{
	display: none;
}
.login-right .first-ul > li:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
}
.login-right li:nth-child(7):hover .small-ul{
	display: block;
}
.fz{
	display: inline-block;
}
.login-right li:nth-child(7):hover .fz{
	transform: rotate(180deg);
}
 @keyframes faded {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
.fadeIn {
    animation-name: faded;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
.small-ul{
	display: none;
	position: relative;
	top: 0px;
	z-index: 999;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
}
.small-ul li a{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.small-ul li a:hover{
	color: #b4a078;
	cursor: pointer;
}
.login-right li:nth-child(8):hover .qcode{
	display: block;
}
.login-right li:nth-child(8) .qcode{
	background-color: #fff;
	position: absolute;
	right: -40px;
	top: 36px;
	display: none;
}
.qcode img{
	width: 117px;
	height: 117px;
	margin: 10px 0 0 10px;
}
.icon-shangjiantou{
	color: #b4a078;
	vertical-align: middle;
}
.icon-phone{
	color: #fff;
}
.login-wrapper .logo img{
	width: 250px;
	height: 100px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: 40px; 
}
.login-wrapper .logo a:hover{
	cursor: pointer;
}
.login-wrapper .search{
	width: 320px;
	position: relative;
	left: 750px;
	top: -60px;
	z-index: auto;
}
.login-wrapper .search input{
	display: block;
	height: 22px;
	line-height: 22px;
	border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
	border-bottom: 1px solid #D8CEBC;
	font-size: 12px;
	width: 249px;
	outline: 0;
	overflow: hidden;
}
.login-wrapper .search i{
	position: relative;
	left: 249px;
	bottom: 30px;
	padding-right: 15px;
	font-size: 20px;
	color: #c6b698;
}
.login-wrapper .search i:last-child{
	font-size: 24px;
}
.login-wrapper .search i:hover{
	cursor: pointer;
	color: #b4a078;
}
nav{
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,.1)
}
nav .nav-wrapper{
	width: 1090px;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
}

.nav-ul{
	width: 1090px;
	margin-left: 23px;
	margin-top: -50px;
	display: flex;
	justify-content: flex-start;
}
.nav-ul > li{
	margin-right: 48px;
}
.nav-ul li a{
	color: #000;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}
.nav-ul li a:hover{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
.nav-ul li:first-of-type a{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}

.ul-wrapper ul{
	width: 1090px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

}
.ul-wrapper{
	display: none;
}
.nav-ul > li:hover .ul-wrapper{
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 900;
	background-color: #fff;
}
.ul-wrapper ul li:hover{
	color: #b4a078;
	cursor: pointer;
}
.ul-wrapper ul li{
	margin:30px 40px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #444;
}

/*内容区*/
/*购买页*/
.detial{
	width: 100%;
	border-top: 1px solid #c0c0c0;
}
.detial .detial-wrapper{
	width: 1090px;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 50px;
}
.detial-wrapper .nav-txt i{
	padding: 5px;
	color: #a4a4a4;
}
.detial-wrapper .nav-txt span:nth-of-type(2):hover,
.detial-wrapper .nav-txt span:nth-of-type(3):hover{
	cursor: pointer;
	text-decoration: underline;
}

.shop{
	display: flex;
}
.shop::after{
	content: "";
	display: block;
	clear: both;
}
.shop-left .b-i{
	width: 428px;
	height: 432px;
	margin: 15px 20px 20px 0;
	background-color: #f4f4f4;
	border: 1px solid #e8e8e8;
	float: left;
}
.shop-left ul {
	margin: 15px 60px 0 460px;
	position: relative;
}
.shop-left ul li{
	display: block;
	box-sizing: border-box;
	width: 82px;
	height: 82px;
	margin-bottom: 6px;
	border: 2px solid #e8e8e8;
	background-color: #f4f4f4;
}
.shop-left ul li:nth-of-type(1) .large-img{
	z-index: 8;
}
.shop-left ul li .large-img{
	width: 430px;
	height: 430px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	position: absolute;
	bottom: 0px;
	right: 110px;
}
.shop-left ul li:hover .large-img{
	z-index: 9;
}
.shop-left ul li:hover{
	border: 2px solid #b4a078;
	cursor: pointer;
}

.shop-right{
	padding-top: 10px;
}
.shop-right .text > p{
	font-size: 14px;
	color: #999;
	padding-top: 5px;
}
.shop-right .text span:first-of-type{
	position: relative;
	top: -50px;
	left: 420px;
	font-size: 20px;
	color:#E36844;
	font-weight: bold;
}
.shop-right .text span:nth-of-type(2){
	position: relative;
	top: -30px;
	left: 378px;
	font-size: 13px;
	font-weight: bold;
}
.shop-right .text span:nth-of-type(2):hover{
	cursor: pointer;
	color: #b4a078;
}
.shop-right .grey{
	background-color: #f5f3ef;
	width: 475px;
	height: 216px;
	padding: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	color: #666;
	font-size: 13px;
}
.shop-right .grey p{
	margin-bottom: 8px;
}
.shop-right .grey p:first-child span:nth-child(2){
	color: #d7282d;
	font-size: 28px;
	margin-left: 15px;
	font-weight: bold;
} 
.shop-right .grey p:nth-child(2) span:nth-child(1){
	color: #666;
	font-size: 13px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #f5f3ef;
}
.shop-right .grey p:nth-child(2) span:nth-child(5),
.shop-right .grey p:nth-child(3) span:nth-child(3){
	border: none;
	background-color: #f5f3ef;
	margin-left: 12px;
	padding: 0 1px;
	color: #D52B33;
	font-size: 12px;
}
.shop-right .grey p:nth-child(2) span:nth-child(5):hover,
.shop-right .grey p:nth-child(3) span:nth-child(3):hover{
	text-decoration: underline;
	cursor: pointer;
}
.shop-right .grey p:nth-child(2) span{
	margin-left: 12px;
	padding: 0 1px;
	background-color: #fff;
	color: #D52B33;
	border: 1px solid #D52B33;
	font-size: 12px;
}
.shop-right .grey p:nth-child(3) span:nth-child(2){
	margin-left: 12px;
	color: #fff;
	background-color: #e36844;
	padding: 0 5px;
	font-size: 12px;
}
.shop-right .grey p:nth-child(4) span:nth-child(2){
	margin-left:12px;
}
.shop-right .grey .dashed{
	border: 1px dashed #ccc;
	width: 420px;
	margin-bottom: 10px;
}
.shop-right .grey p:nth-child(6) span:first-child{
	margin: 0;
}
.shop-right .grey p:nth-child(6) span,
.shop-right .grey p:nth-child(7) span{
	margin-left: 12px;
}
.shop-right .grey p:nth-child(7){
	margin-left: 40px;
}

.color{
	display: flex;
	align-items: center;
	margin:20px;
	color: #666;
}
.color ul{
	display: flex;
	margin-left: 30px;
}
.color ul li{
	display: block;
	box-sizing: border-box;
	margin-right: 10px;
	border: 1px solid #e8e8e8;
	background-color: #f4f4f4;
}
.color ul li:active,
.color ul li:hover{
	border: 1px solid #b4a078;
	cursor: pointer;
}
.count{
	color: #666;
	margin:20px;
}
.count input{
	border: 1px solid #e8e8e8;
	height: 30px;
	width: 80px;
	text-align: center;
	margin-left: 30px;
}
.btn{
	display: flex;
}
.buy-btn{
	padding: 5px 20px;
	margin:10px 5px 0 30px;
	border: 1px solid  #b4a078;
	color: #c0ae8a;
	width: 128px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	background-color: #f5f3ef;
}
.buy-btn:hover{
	background-color: #fff;
	cursor: pointer;
}
.cart-btn{
	padding: 5px 20px;
	margin:10px 5px 0 5px;
	border: 1px solid  #b4a078;
	color: #fff;
	width: 128px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	background-color: #b4a078;
}
.cart-btn:hover{
	cursor: pointer;
	opacity: 0.8;
}
.sc-btn{
	margin: 10px 0 0 5px;
	width: 60px;
	height: 50px;
	line-height: 25px;
	border: 1px solid #e8e8e8;
	color: #999;
	font-size: 13px;
	text-align: center;
}


.looking{
	width: 1090px;
	margin: 0 auto;
	border: 1px solid #e8e8e8;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.looking > p{
	width: 100%;
	background-color: #f5f5f5;
	font-size: 18px;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
}
.looking ul{
	display: flex;
}
.looking ul li{
	width: 25%;
	margin-left: 50px;
	text-align: center;
}

.looking ul li .img-wrap{
	width: 210px;
	height: 210px;
	overflow: hidden;
}
.looking ul li img{
	transition: all 1s;
}
.looking ul li img:hover{
	cursor: pointer;
	transform: scale(1.1);
}
.looking ul li h3:hover{
	cursor: pointer;
	color: #b4a078;
}
.looking ul li h4{
	color: #d4282d;
	margin-top: 5px;
}

.showing{
	width: 1090px;
	margin: 0 auto;
	display: flex;
	font-size: 14px;
}
.showing-left{
	width: 750px;
	margin-right: 30px;
}
.showing-left .top{
	background-color: #f5f5f5;
	border: 1px solid #e8e8e8;
}
.showing-left .top span{
	width: 125px;
	height: 42px;
	line-height: 42px;
	background-color: #f5f5f5;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}
.showing-left .top span:hover{
	cursor: pointer;
}
.showing-left .top span:nth-child(1){
	background-color: #fff;
	border-top: 2px solid #b4a078;
	border-bottom: none;
	color: #b4a078;
}
.showing-left .center{
	margin: 20px;
}
.showing-left .center img{
	width: 700px;
}
.showing-left .center p{
	padding: 10px 0;
	border-bottom: 1px dashed #e8e8e8;
}
.showing-left .center p span{
	margin-right: 60px;
}
.showing-left .center p span:nth-child(even){
	color: #999;
}
.showing-left .center p:nth-of-type(2) span:nth-child(3){
	margin-left: 110px;
}
.showing-left .center p:nth-of-type(3) span:nth-child(3){
	margin-left: 87px;
}
.showing-left .center p:nth-of-type(4) span:nth-child(3){
	margin-left: 91px;
}
.showing-left .center p:nth-of-type(5) span{
	margin: 5px 120px 0;
	display: inline-block;
}
.showing-left .center p:nth-of-type(5) span:nth-child(1){
	margin: 0;
}
.showing-left .center p:nth-of-type(5) span:nth-child(2){
	margin-left: 18px;
}
.showing-left .center p:nth-of-type(6) span{
	margin-right: 18px;
}
.showing-right{
	width: 300px;
	text-align: center;	
}
.showing-right h3{
	line-height: 42px;
	border: 1px solid #e8e8e8;
	background-color: #f5f5f5;
}
.showing-right ul{
	margin-bottom: 30px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}
.showing-right ul.first li{
	border-bottom: 1px solid #e8e8e8;
	box-sizing: border-box;
	padding-bottom: 10px;
}
.showing-right ul.first li span{
	color: #d62525;
}
.showing-right ul.first li p:hover,
.showing-right ul.first li img:hover{
	color: #b4a078;
	cursor: pointer;
}
.showing-right ul.second li{
	margin: 25px 0;
	position: relative;
}
.showing-right ul.second li span{
	display: inline-block;
	padding: 5px 0;
	width: 260px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	left: 20px;
	top: 110px;
}

/*严选底部*/
/*严选底部*/

.yanxuan{
	width: 100%;
	background-color: #fff;
}
.yanxuan-wrapper{
	width: 1090px;
	height: 204px;
	margin: 0 auto;
	padding: 20px 0 34px 0;
}
.yanxuan-wrapper ul{
	display: flex;
	text-align: center;
	font-size: 16px;
}
.yanxuan-wrapper ul li{
	width: 363px;
	height: 204px;
	border-right: 1px solid #ccc;
}
.yanxuan-wrapper ul li:nth-child(3){
	border: none;
}
.yanxuan-wrapper .kefu{
	display: inline-block;
	width: 60px;
	margin: 20px 20px 0 10px;
	padding: 10px;
	border: 1px solid #e8e8e8;
}
.yanxuan-wrapper .yh{
	display: inline-block;
	width: 60px;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #e8e8e8;
}
.yanxuan-wrapper ul li i{
	font-size:28px;
}
.yanxuan-wrapper span{
	font-size: 14px;
}
.yanxuan-wrapper ul li i:hover,
.yanxuan-wrapper ul li span:hover{
	cursor: pointer;
	color:#b4a078;
}
.yanxuan-wrapper ul li .wytx{
	width: 300px;
	font-size: 14px;
	margin: 0 auto;
}
.yanxuan-wrapper ul li img{
	width: 120px;
	height: 120px;
	margin-top: 20px;
}
.yanxuan-wrapper ul li .gzwm{
	text-align: left;
	font-size: 14px;
	margin:30px 0 0 35px;
}
.yanxuan-wrapper ul li .gzwm i:nth-of-type(1){
	color: #0fab83;
	margin-right: 10px;
}
.yanxuan-wrapper ul li .gzwm i:nth-of-type(2){
	color: #4bb341;
	margin-right: 10px;
}
.yanxuan-wrapper ul li .gzwm i:nth-of-type(3){
	color: #e42f36;
}


/*页面底部*/
footer{
	width: 100%;
	background-color: #414141;
}
.footer-wrapper{
	width: 1090px;
	height: 145px;
	margin: 0 auto;
	padding: 20px 0 34px 0;
	text-align: center;
	color: #999;
}
.footer-wrapper .footer-ul{
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #4f4f4f;
	text-align: center;
	font-size: 18px;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.footer-wrapper .footer-ul li span{
	margin-top: -10px;
	display: inline-block;
}
.footer-wrapper .footer-ul li i{
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	margin-right: 15px;
	position: relative;
	top: 10px;
}

.footer-wrapper .bottom-ul{
	width: 800px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 12px;
	display: flex;
	justify-content: center;
}
.footer-wrapper .bottom-ul li{
	padding: 0 10px;
	border-right: 1px solid #999;
}
.footer-wrapper .bottom-ul li a{
	color: #999;
}
.footer-wrapper .bottom-ul li:last-child{
	border: none;
}
.footer-wrapper img{
	width: 18px;
	height: 18px;
}


/*fixed*/

.fixed{
	position: fixed;
	right: 0;
	top: 20px;
	z-index: 9999;
}
.fixed-wrapper{
	display: flex;
	flex-direction: column;
}
.fixed-wrapper .qcode{
	width: 72px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	color: #BC3B3B;
	background-color: #fff;
}
.fixed-wrapper .qcode p{
	color: #666;
}
.fixed-wrapper .qcode img{
	width: 70px;
	height: 70px;
	margin: 0;
}
.fixed-wrapper .dzk {
	width: 72px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	color: #666;
	background-color: #fff;
}
.fixed-wrapper .dzk:hover{
	color: #b4a078;
	cursor: pointer;
}
.fixed-wrapper .dzk i{
	font-size: 28px;
	font-weight: 100;
}
.fixed-wrapper .kf {
	width: 72px;
	padding-bottom: 10px;
	text-align: center;
	color: #666;
	background-color: #fff;
}
.fixed-wrapper .kf:hover{
	color: #b4a078;
	cursor: pointer;
}
.fixed-wrapper .kf i{
	font-size: 28px;
	font-weight: 100;
}