
/*头部样式*/
header{
	width: 100%; 
}
header .login-wrapper{
	width: 100%;
	background-color: #333333;
}
header .login{
	width: 1090px;
	margin: 0 auto;
	line-height: 36px;	
}
.login-left{
	color: #cccccc;
	width: 400px;
	display: inline-block;
}
.login-left img{
	width: 24px;
	height: 22px;
	padding-left: 30px;
	vertical-align: middle;
}
.login-left a{
	color: #b4a078;
	text-decoration: underline;
}
.login a:hover{
	color: #fff;
	text-decoration: none;
}
.login-right{
	float: right;
	width: 460px;
}
.login-right .first-ul{
	display:flex;
	justify-content: space-between;
	position: relative;
	z-index: 999;
}
.login-right .first-ul > li:before{
	content: '';
	display: inline-block;
	margin-right: 20px;
	height: 16px;
	border-left: 1px solid #5c5c5c;
	vertical-align: middle;
}
.login-right li:nth-child(5):hover .small-ul{
	display: block;
}
.fz{
	display: inline-block;
}
.login-right li:nth-child(5):hover .fz{
	transform: rotate(180deg);
}
 @keyframes faded {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
.fadeIn {
    animation-name: faded;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.small-ul{
	display: none;
	position: relative;
	top: 0px;
	z-index: 999;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
}
.small-ul li a{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.small-ul li a:hover{
	color: #b4a078;
	cursor: pointer;
}
.login-right li:nth-child(6):hover .qcode{
	display: block;
}
.login-right li:nth-child(6) .qcode{
	background-color: #fff;
	position: absolute;
	right: -40px;
	top: 36px;
	display: none;
}
.qcode img{
	width: 117px;
	height: 117px;
	margin: 10px 0 0 10px;
}
.icon-shangjiantou{
	color: #b4a078;
	vertical-align: middle;
}
.icon-phone{
	color: #fff;
}

nav{
	width: 100%;
}
nav .nav-wrapper{
	width: 1090px;
	margin: 0 auto;
	height: 204px;
}
nav .logo img{
	width: 250px;
	height: 100px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: 40px; 
}
nav .logo a:hover{
	cursor: pointer;
}
nav .search{
	width: 320px;
	position: relative;
	left: 755px;
	top: -60px;
	z-index: -1;
}
nav .search input{
	display: block;
	height: 22px;
	line-height: 22px;
	border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
	border-bottom: 1px solid #D8CEBC;
	font-size: 12px;
	width: 249px;
	outline: 0;
	overflow: hidden;
}
nav .search i{
	position: relative;
	left: 249px;
	bottom: 30px;
	padding-right: 15px;
	font-size: 20px;
	color: #c6b698;
}
nav .search i:last-child{
	font-size: 24px;
}
nav .search i:hover{
	cursor: pointer;
	color: #b4a078;
}
.nav-ul{
	width: 1090px;
	margin-left: 23px;
	margin-top: -50px;
	display: flex;
	justify-content: flex-start;
}
.nav-ul > li{
	padding-right: 48px;
}
.nav-ul li a{
	color: #000;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}
.nav-ul li a:hover{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}

.ul-wrapper ul{
	width: 1090px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

}
.ul-wrapper{
	display: none;
}
.nav-ul > li:hover .ul-wrapper{
	display: block;
	position: absolute;
	top: 220px;
	left: 0;
	right: 0;
	z-index: 900;
	background-color: #fff;
}
.ul-wrapper ul li:hover{
	color: #b4a078;
	cursor: pointer;
}
.ul-wrapper ul li{
	margin:30px 40px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #444;
}

.container .banner{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
	position: relative;
	height: 600px;
}
.banner-wrapper{
	width: 1920px;
	height: 600px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
	background: url(../images/login/1.jpg);
}


/*登录框*/
.wrap{
	width: 400px;
	padding-top: 30px;
	background-color: #fff;
	margin: 0 auto;
	position: absolute;
	left: 60%;
	top: 280px;
	z-index: 999;
}
/*登录框文字*/
.top-text{
	width: 350px;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 28px;
}
.top-text .line{
	display: inline-block;
	width: 1px;
	height: 16px;
	margin: 0 36px;
	margin-bottom: -4px;
	border-right: 1px solid #e8e8e8;
}
.top-text span:first-child{
	color: #999;
}
.top-text span:first-child:hover{
	color: #B4A078;
	cursor: pointer;
}
.top-text span:last-child:hover{
	cursor: pointer;
}
.input-box {
	margin: 0 auto;
	width: 360px;
	color: #e8e8e8;
}
.form-user,
.form-lock {
	height: 28px;
	margin: 14px 0;
	padding: 14px;
	position: relative;
	border: 1px solid #e8e8e8;
}
.form-user i,.form-lock i{
	font-size: 20px;
	color: #e8e8e8;
	padding-right: 8px;
}
.form-user > li:nth-child(1),
.form-lock > li:nth-child(1) {
	float: left;
	width: 28px;
	line-height: 28px;
	text-align: center;
	border-right: 1px solid #e8e8e8;
}
.form-user > li:nth-child(2),
.form-lock > li:nth-child(2) {
	width: 100%;
	line-height: 28px;
}
.form-user > li:nth-child(2) > input,
.form-lock > li:nth-child(2) > input {
	width: 80%;
	padding-left: 28px;
	border:none;
}
.form-user > li:nth-child(2) > input:focus + .close,
.form-lock > li:nth-child(2) > input:focus + .close {
	display: block;
}
.close {
	position: absolute;
	top: 1em; right: .5em;
	display: none;
}
/*登录按钮*/
.wrap .btn{
	display: block;
	width: 320px;
	height: 48px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	background: #b4a078;
	font-size: 18px;
	line-height: 48px;
	border-radius: 2px;
	margin: 40px auto;
	
}
/*快捷方式登录*/
.kjdl{
	width: 100%;
	height: 60px;
	background-color: #F5F3EF;
	line-height: 60px;
	color: #999;
}
.kjdl i:hover,.kjdl span:hover{
	cursor: pointer;
	color: #b4a078;
}
.kjdl span:first-of-type{
	margin-left: 60px;
	padding-right: 10px;
}
.kjdl .tubiao{
	margin-left: 30px;
	display: inline-block;
}
.kjdl i{
	color: #666;
	font-size: 24px;
	padding: 8px;
}

/*严选底部*/

.yanxuan{
	width: 100%;
	background-color: #fff;

}
.yanxuan-wrapper{
	width: 1090px;
	height: 204px;
	margin: 0 auto;
	padding: 20px 0 34px 0;
}
.yanxuan-wrapper ul{
	display: flex;
	text-align: center;
	font-size: 16px;
}
.yanxuan-wrapper ul li{
	width: 363px;
	height: 204px;
	border-right: 1px solid #ccc;
}
.yanxuan-wrapper ul li:nth-child(3){
	border: none;
}
.yanxuan-wrapper .kefu{
	display: inline-block;
	width: 60px;
	margin: 20px 20px 0 10px;
	padding: 10px;
	border: 1px solid #e8e8e8;
}
.yanxuan-wrapper .yh{
	display: inline-block;
	width: 60px;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #e8e8e8;
}
.yanxuan-wrapper ul li i{
	font-size:28px;
}
.yanxuan-wrapper span{
	font-size: 14px;
}
.yanxuan-wrapper ul li i:hover,
.yanxuan-wrapper ul li span:hover{
	cursor: pointer;
	color:#b4a078;
}
.yanxuan-wrapper ul li .wytx{
	width: 300px;
	font-size: 14px;
	margin: 0 auto;
}
.yanxuan-wrapper ul li img{
	width: 120px;
	height: 120px;
	margin-top: 20px;
}
.yanxuan-wrapper ul li .gzwm{
	text-align: left;
	font-size: 14px;
	margin:30px 0 0 35px;
}
.yanxuan-wrapper ul li .gzwm i:nth-of-type(1){
	color: #0fab83;
	margin-right: 10px;
}
.yanxuan-wrapper ul li .gzwm i:nth-of-type(2){
	color: #4bb341;
	margin-right: 10px;
}
.yanxuan-wrapper ul li .gzwm i:nth-of-type(3){
	color: #e42f36;
}


/*页面底部*/
footer{
	width: 100%;
	background-color: #414141;
}
.footer-wrapper{
	width: 1090px;
	height: 145px;
	margin: 0 auto;
	padding: 20px 0 34px 0;
	text-align: center;
	color: #999;
}
.footer-wrapper .footer-ul{
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #4f4f4f;
	text-align: center;
	font-size: 18px;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.footer-wrapper .footer-ul li span{
	margin-top: -10px;
	display: inline-block;
}
.footer-wrapper .footer-ul li i{
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	margin-right: 15px;
	position: relative;
	top: 10px;
}

.footer-wrapper .bottom-ul{
	width: 800px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 12px;
	display: flex;
	justify-content: center;
}
.footer-wrapper .bottom-ul li{
	padding: 0 10px;
	border-right: 1px solid #999;
}
.footer-wrapper .bottom-ul li a{
	color: #999;
}
.footer-wrapper .bottom-ul li:last-child{
	border: none;
}
.footer-wrapper img{
	width: 18px;
	height: 18px;
}


/*fixed*/

.fixed{
	position: fixed;
	right: 0;
	top: 20px;
	z-index: 9999;
}
.fixed-wrapper{
	display: flex;
	flex-direction: column;
}
.fixed-wrapper .qcode{
	width: 72px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	color: #BC3B3B;
	background-color: #fff;
}
.fixed-wrapper .qcode p{
	color: #666;
}
.fixed-wrapper .qcode img{
	width: 70px;
	height: 70px;
	margin: 0;
}
.fixed-wrapper .dzk {
	width: 72px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	color: #666;
	background-color: #fff;
}
.fixed-wrapper .dzk:hover{
	color: #b4a078;
	cursor: pointer;
}
.fixed-wrapper .dzk i{
	font-size: 28px;
	font-weight: 100;
}
.fixed-wrapper .kf {
	width: 72px;
	padding-bottom: 10px;
	text-align: center;
	color: #666;
	background-color: #fff;
}
.fixed-wrapper .kf:hover{
	color: #b4a078;
	cursor: pointer;
}
.fixed-wrapper .kf i{
	font-size: 28px;
	font-weight: 100;
}